spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/cruddb
  kafka:
    producer:
      acks: -1
      bootstrap-servers: localhost:29092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  redis:
    host: localhost
    port: 6379
  cache:
    type: redis

server:
  port: 9090

management:
  server:
    port: 9090
  endpoints:
    web:
      exposure:
        include: health,info,metrics,caches,cache,prometheus
  metrics:
    enable:
      cache: true
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
  info:
    title: CRUD App API
    description: Simple CRUD operations with MongoDB
    version: 1.0.0

logging:
  level:
    com.sohan.crudapp: INFO
    org.springframework.cache.interceptor.CacheInterceptor: TRACE
    org.springframework.data.redis.cache: TRACE
